
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.nav {
    background: #c2d0eb;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.nav li:hover {
    background: rgb(137, 189, 236);
    transition: .3s;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}